h1 {
    color: black;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px; 
    width: 500px;
    background-color: turquoise;
    padding: 50px;border: violet;
    border-width: 50px;
    border-style: solid;
}
#spanId {
    font-size: 18px;
    margin: 50px;
    
}
.titleCV{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:medium;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-decoration: underline;
}
.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:medium;
    text-decoration: underline;

}
.bodyText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    margin-left: 4px;
}
body {
    background-color: rgb(217, 247, 247);
}
